[submodule "backend"]
	path = backend
	url = https://github.com/EduardaGiudice/SaboresDigitais-api.git
	branch = main
[submodule "frontend"]
	path = frontend
	url = https://github.com/EduardaGiudice/SaboresDigitais-client.git
	branch = main
